@import "../../mixins.scss";

.characterSheet {
  position: relative;
  width: 100%;
  height: 100%;
  @include dFlex(column);
  // border: 2px solid green;

  .sheetBodyTabs {
    // border: 1px solid red;
    color: var(--textColor);
    width: 100%;
    height: 60%;

    &>div:nth-child(2) {
      @include dFlex();
      width: 100%;
      height: 100%;
      
      & > div {
        @include dFlex();
        width: 100%;
        height: 100%;

        & > div {
          @include dFlex();
          width: 100%;
          height: 100%;

          & > section {
            @include dFlex(column, flex-start);
            width: 100%;
            height: 100%;
      
            & > ul {
              --gapSize: 0.5rem;
              @include dFlex(row, flex-start);
              width: 100%;
              height: 100%;
              overflow: auto;
              flex-wrap: wrap;
              gap: var(--gapSize);

              & > li {
                @include dFlex(row, flex-start);
                width: calc(50% - var(--gapSize));
                gap: 0.2rem;

                input {
                  width: 1rem;
                }

                .skillDice {
                  border: 1px solid red;
                  span {
                    margin-left:5rem;
                  }
                }

                // &:nth-child(2n) {
                //   justify-content: flex-end;
                // }
              }
            }
          }
        }
      }
    }

    
  }
}