@import "../../mixins.scss";

.popoverImgUrl {
	@include dFlex(column);
	gap: 0.2rem;

	& > span {
		width: 100%;
		@include dFlex(row, flex-end);
		gap: 1rem;

		& > button {
			font-size: 1.4em;
			background: none;
			color: var(--colorWarn1);

			&:last-child {
				font-size: 1em;
				color: var(--colorConfirm1);
			}
		}
	}
}

.sheetHeader {
	--profileSpace: 2.3rem;
	position: relative;
	@include dFlex(column, flex-end);
	// border: 2px solid orange;
	width: 100%;
	height: 40%;

	.characterProfile {
		@include dFlex(column, flex-end);
		// border: 2px solid gold;
		width: 80%;
		// margin-bottom: var(--profileSpace);
		gap: 0.3rem;

		.imgContainer {
			position: relative;
			--imgSize: 5rem;
			@include dFlex(column, flex-start);
			// border: 2px solid var(--txtColor);
			width: var(--imgSize);
			height: var(--imgSize);
			font-size: calc(var(--imgSize) * 0.8);
			border-radius: 50%;
			padding-left: 0.1rem;
			margin-bottom: 0;
			z-index: 10;
			overflow: hidden;

			& > img {
				// width: clamp(5rem, 100%, 10rem);
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			& > button {
				--size: 1.2rem;

				position: absolute;
				width: var(--size);
				height: var(--size);
				padding: 0.2rem;
				bottom: 0.6rem;
				right: 0.6rem;
				border-radius: 50%;
				background: var(--color1);
				color: var(--colorWhite);
			}
		}

		.actionButtonsContainer {
			@include dFlex();
			width: 100%;
			height: auto;
			z-index: 10;
			// border: 1px solid red;
			gap: 2rem;
			--size: 1.8rem;

			& > button {
				width: var(--size);
				height: var(--size);
				background: var(--color1);
				color: var(--colorWhite);
			}

			.deleteBtn {
				width: var(--size);
				height: var(--size);
				background: var(--colorDanger1);
				border-radius: 50%;
				@include dFlex();
				padding: 0 0.1rem 0.1rem 0;
			}

			.cancel {
				background: var(--colorWarn1);
				color: var(--colorBlack);
			}

			.confirm {
				background: var(--colorConfirm1);
			}
		}
	}

	.attributes {
		--sideWidth: 38%;
		--baseOffset: 6rem;

		position: absolute;
		bottom: calc(var(--baseOffset) + var(--profileSpace));
		@include dFlex();
		flex-wrap: wrap;
		// border: 1px solid cyan;
		gap: calc(100% - (var(--sideWidth) * 2));

		&:has(input) {
			--baseOffset: 6.5rem;
		}

		& > span {
			// border: 1px solid purple;
			@include dFlex(row-reverse, flex-end);
			width: var(--sideWidth);
			flex-grow: 1;
			margin: 0.4rem 0;
			gap: 0.2rem;

			&:nth-child(2n + 1) {
				flex-direction: row;
				// justify-content: flex-start;
			}

			&:nth-child(1),
			&:nth-child(5) {
				margin-right: -5%;
			}

			& > span {
				@include dFlex(column);
			}
		}
	}

	.secondaryAttributes {
		position: relative;
		// border: 2px solid blue;
		width: 100%;
		padding: 0 0.2rem;
		@include dFlex(row, center);
		gap: 1.2rem;

		& > span {
			@include dFlex(column);

			& > span {
				width: 100%;
				@include dFlex(row, space-evenly);

				& > p {
					width: 100%;
					text-align: center;
				}

				.maxValue {
					border-left: 1px solid var(--txtColor);
				}
			}
		}

		.attrOverLimit {
			* {
				color: var(--colorWarn1);
				--shadowColor: rgba(255, 255, 0, 0.2);
			}
		}

		.attrOverFinalLimit {
			* {
				color: var(--colorDanger1);
				--shadowColor: rgba(255, 0, 0, 0.2);
			}
		}
	}

	.attrInput {
		--shadowColor: rgba(255, 255, 255, 0.2);
		@include dFlex();
		padding-left: 0.3rem;
		width: 1.5rem;
		margin: 0 0.1rem;
		font-size: 0.8rem;
		background: var(--bgColor);
		border: 1px solid;
		color: var(--txtColor);
		box-shadow: 0 0 20rem var(--shadowColor) inset;
	}

	.generalStats {
		width: 100%;

		.xpContainer {
			text-align: center;

			& > span {
				width: 100%;
				@include dFlex();
				gap: 0.5rem;

				.xpInput {
					width: 3rem;
				}
			}

			.invalidXP {
				color: orange;
			}
		}
	}
}
