@import "../../mixins.scss";

.sheetHeader {
  position: relative;
  @include dFlex(column, flex-end);
  // border: 2px solid orange;
  height: 30%;

  .characterProfile {
    @include dFlex(column);
    // border: 2px solid gold;
    width: 80%;
    gap: 1.2rem;

    .imgContainer {
      --imgSize: 5rem;
      @include dFlex();
      border: 2px solid var(--txtColor);
      width: var(--imgSize);
      height: var(--imgSize);
      font-size: calc(var(--imgSize)*0.8);
      border-radius: 50%;
      padding-left: 0.1rem;
      z-index: 10;
    }
  }

  .attributes {
    --sideWidth: 38%;
    position: absolute;
    bottom: 15%;
    @include dFlex();
    flex-wrap: wrap;
    // border: 1px solid cyan;
    gap: calc(100% - (var(--sideWidth) * 2));

    &>span {
      // border: 1px solid purple;
      @include dFlex(row-reverse, flex-end);
      width: var(--sideWidth);
      flex-grow: 1;
      margin: 0.4rem 0;

      &:nth-child(2n+1) {
        flex-direction: row;
        // justify-content: flex-start;
      }

      &:nth-child(1), &:nth-child(5) {
        margin-right: -5%;
      }

      &>span {
        @include dFlex(column);
      }
    }
  }
}