@import "../../mixins.scss";

.navMenu {
  --itemSize: 3.5rem;

  width: 100%;
  height: var(--itemSize);
  padding: 0;
  @include dFlex(row, space-evenly);
  background: var(--color1);
  border: none;
  z-index: 9;

  &>a {
    width: var(--itemSize);
    height: var(--itemSize);
    padding: 0.5rem 0.5rem 0;
    @include dFlex(column);
    color: var(--textColor);
    transition: border 300ms linear, box-shadow 200ms linear;
    font-size: 1rem;

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 20rem rgba(0, 0, 0, 0.5) inset;
    }

    &>span {
      font-size: 1.2em;
    }
  }

  .currentPage {
    // border-bottom-color: var(--markedColor);
    text-decoration: underline;
    box-shadow: 0 0 20rem rgba(0,0,0,0.2) inset;
  }
}

@media screen and (min-width: $desktopBreakpoint) {
  .navMenu {
    width: var(--itemSize);
    height: 100%;
    flex-direction: column;
    border-width: 2px !important;
  }

}