@import "../../mixins.scss";

.modal {
  @include absoluteElement();
  @include dFlex(column);
  opacity: 1;
  visibility: visible;
  transition: all 300ms linear;
  z-index: 999;

  .background {
    background: rgba(0, 0, 0, 0.2);
    @include absoluteElement();
  }

  .closeBtn {
    @include absoluteElement();
    width: auto;
    height: auto;
    left: auto;
    right: 0;
    background: none;
    border: none;
    font-size: 2rem;
    color: darkred;
  }

  .modalContent {
    position: relative;
    width: 80%;
    height: auto;
    padding: 2rem 1rem;
    background: var(--color1);

    input {
      background: var(--bgColor);
      color: var(--txtColor);
      padding: 0.2rem 0.1rem;
    }

    button {
      background: var(--colorConfirm1);
      color: var(--txtColor);
      padding: 0.2rem;
    }
  }
}