@import "../../mixins.scss";

.modal {
	@include absoluteElement();
	@include dFlex(column);
	opacity: 1;
	visibility: visible;
	transition: all 300ms linear;
	z-index: 999;

	.background {
		background: rgba(0, 0, 0, 0.2);
		@include absoluteElement();
	}

	.mainContainer {
		@include dFlex(column, flex-start);
		width: min(100%, 30rem);
		max-height: 50%;
		position: relative;
		.closeBtn {
			@include absoluteElement();
			width: auto;
			height: auto;
			left: auto;
			right: 0;
			background: none;
			border: none;
			font-size: 2rem;
			color: var(--txtColor);
      z-index: 10000;
		}
		.modalHeader {
			position: relative;
			width: 100%;
			height: auto;
			max-height: 20%;
		}

		.modalContent {
			position: relative;
			width: 100%;
			height: auto;
			max-height: 100%;
			padding: 2rem 1rem;
			background: var(--color1);

			input {
				background: var(--bgColor);
				color: var(--txtColor);
				padding: 0.2rem 0.1rem;
			}

			button {
				background: var(--colorConfirm1);
				color: var(--txtColor);
				padding: 0.2rem;
			}
		}
	}
}
