@import "../../mixins.scss";

.traitCard {
  @include dFlex(row, space-between);
  position: relative;
  width: 12rem;
  height: 3rem;
  padding: 0 0.5rem;

  & > * {
    z-index: 10;
  }

  & > span {
    @include dFlex();
    gap: 0.4rem;
  }

  .background {
    @include fullAbsoluteContainer();
    background: var(--color1);
    opacity: 0.5;
    z-index:1;
  }
}