@import "../../mixins.scss";

.library {
	@include dFlex(column);
	position: relative;
	width: 100%;
	height: 100%;
	.newButtonContainer {
		text-align: center;

		& > button {
			--size: 2rem;

			width: var(--size);
			height: var(--size);
			border-radius: 50%;
			background: var(--color1);
			color: var(--colorWhiteLight);
			font-size: 1.5em;
		}
	}

	.sheetList {
		width: 100%;
		height: 100%;
		margin-top: 10%;
		@include dFlex(column, flex-start);
		overflow: auto;

		& > li {
			width: 100%;
			@include dFlex(row, flex-start);
			gap: 0.3rem;
			padding: 0.5rem 0.2rem;
			cursor: pointer;
			transition: padding 300ms linear;

			& > span {
				text-transform: capitalize;

				&:first-child {
					@include dFlex();
					overflow: hidden;
					width: 2rem;
					height: 2rem;

					& > img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}

			&:hover {
				padding-left: 0.5rem;
			}

			&:nth-child(2n + 1) {
				box-shadow: 0 0 20rem rgba(255, 255, 255, 0.1) inset;
			}
		}
	}
}
