@import "./mixins.scss";

.main {
  @include absoluteElement();
  @include dFlex(column, space-between);

  background: var(--bgColor);
  color: var(--txtColor);
  overflow: hidden;

  &>section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    @include dFlex(column, flex-start);
    font-size: 1rem;
  }
}

.dark{
  --txtColor: var(--colorWhite);
  --bgColor: var(--colorBlack);
}

.light {
  --txtColor: var(--colorBlack);
  --bgColor: var(--colorWhite);
}

@media screen and (min-width: $desktopBreakpoint) {
  .main {
    flex-direction: row-reverse;
  }
}