* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: #369;
  &:hover {
    text-decoration: underline;
  }
}

html {
  // font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  --color1: hsl(210, 54%, 25%);
  --colorWarn1: hsl(50, 75%, 45%);
  --colorConfirm1: hsl(120, 88%, 26%);

  --colorFullWhite: #fff;
  --colorWhiteLight: #efefef;
  --colorWhite: #eee;
  --colorFullBlack: #000;
  --colorBlackDark: #010101;
  --colorBlack: #111;

  --txtColor: var(--colorBlack);
  --bgColor: var(--colorWhite);

  background: var(--bgColor);
  color: var(--txtColor);
  font-size: 1.6rem;
}

